/*!*.header_container {*!*/
    /*!*background-color: black;*!*/
    /*!*height: 50vh;*!*/
    /*!*width: 100vw;*!*/
/*!*}*!*/


html, html >* {
    font-size: 0;
    margin: 0;
    padding: 0;
}

body > * {
    margin: 0;
    font-size: 1rem;
}

.header_container {
    background-color: black;
    height: 25%;
    width: 100%;
    text-align:center;
}

#namaslay {
    color: deeppink;
    font-family: "Jenna Sue";
    font-size: 10vh;
    text-align: center;
    margin-top:0;
    padding-top: 50px;
}

#slay {
    color: deeppink;
    font-family: Helvetica;
    font-size: 4vh;
    text-align: center;
}

ul {
    color: deeppink;
    font-family: Helvetica;
    font-size: 2vh;
}

ul li {
    width: 10%;
    display: inline-block;
}

#image_div {
    width: 40%;
    margin: 0 auto;
}


#image-header {
    width: 100%;
    text-align: center;
}

.stats_container {
    background-color: lightpink;
    display: inline-block;
    height: 75vh;
    width:20vw;
    vertical-align: top;
}

.game_container {
    background-color: deeppink;
    display: inline-block;
    height: 75vh;
    width: 80%;
}

#game-area{
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    align-content: space-around;
}

.card {
    width: 8vw;
    position: relative;
    height: 33%;
    display: inline-block;
}

.front, .back {
    height: auto;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display:inline-block;
}

.card img{

    height: auto;
    width: 100%;
}

/*.front{*/
    /*background-image: url(images/card1.png);*/
    /*background-size: cover;*/
    /*background-repeat: no-repeat;*/
    /*background-position: center;*/
/*}*/

.hidden > .back{
    display: none;
}

.games-played, .attempts, .accuracy{
    height:20%;
}

.value, .label {
    font-size: 2vmin;
    color: black;
}

.row {
    display: inline-block;
    width: 100%;

}

