html, html >* {
    font-size: 0;
    margin: 0;
    padding: 0;
}

body {
    width:100vw;
    height: 100vh;
}

body > * {
    margin: 0;
    font-size: 1rem;
}

.header_container {
    background-color: black;
    height: 25%;
    width: 100%;
    text-align:center;
}

#namaslay {
    color: deeppink;
    font-family: "Jenna Sue";
    font-size: 10vh;
    text-align: center;
    margin-top:0;
    position: relative;
    bottom: 23%;
    padding-top: 50px;
}

#slay {
    color: deeppink;
    font-family: Helvetica;
    font-size: 4vh;
    text-align: center;
    position: relative;
    bottom: 8%;
}

#about, #home {
    position: relative;
    right: 9%;
    bottom: 4%;
    color: deeppink;
    font-size: 2vmin;
    font-family: Helvetica;
    text-decoration: none;
}

#about_image {
    margin-bottom: 2%;
    margin-left: 6%;
    margin-top: 3%;
    width: 24%;
}

.image_div {
    width: 22.5%;
    height: 100%;
    display: inline-block;
    margin: 0 auto;
}

.logo {
    width: 55%;
    height: 100%;
    display: inline-block;
    margin: 0;
}

.image-header {
    width: 68%;
    text-align: center;
}

.stats_container {
    background-color: lightpink;
    display: inline-block;
    height: 75%;
    width:20%;
    vertical-align: top;
}

.game_container {
    background-color: deeppink;
    display: inline-flex;
    height: 75%;
    width: 80%;
}

#game-area {
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    align-content: space-around;
    width: 83%;
    margin: auto;
}

.card {
    margin: 1% 2.5%;
    width: 10.5%;
    position: relative;
    height: 28%;
    display: flex;
    /* display: inline-block; */
}

.front, .back {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.card img{

    height: 100%;
    width: 100%;
}


.hidden > .back{
    display: none;
}

.games-played, .attempts, .accuracy{
    height:20%;
}

.label {
    font-size: 4vmin;
    color: black;
    font-family: Helvetica;
    font-weight: bold;
    text-align: center;
    margin-top: 8%;
}

.value {
    color: black;
    font-family: Helvetica;
    font-size: 3vmin;
    margin-top: 5%;
    text-align: center;
}

.reset{
    font-family: Helvetica;
    font-size: 3vmin;
    margin-left: 28%;
    margin-top: 25%;
}

main {
    background-color: deeppink;
    height: 75%;
    width: 100%;
}

#portfolio {
    color: black;
    font-family: Helvetica;
    font-size: 3vmin;
    float: left;
    margin-left: 5%;
    margin-top: 4%;
}


.about-about {
    height: 100%;
    width: 42%;
    display: inline-block;
    margin: 0 auto;
    position: relative;
    top: -7%;
    left: 5%;
}

#about_image {
    width: 51%;
    text-align: center;
}

.memory {
    color: black;
    font-family: Helvetica;
    display: inline-block;
    margin: 0;
    height: 100%;
    width: 58%;
    position: relative;
    left: -6%;
    top: 5%;
}

p {
    text-align: justify;
    font-size: 3vmin;
}

#game {
    color: black;
    font-family: Helvetica;
    font-size: 4vmin;
    font-weight: bold;
    position: relative;
    top: 2%;
    text-align: center;
}

#skills {
    color: black;
    font-family: Helvetica;
    font-size: 3vmin;
    margin-left: 41%;
}


#about #home {
    position: relative;
    right: 14%;
    bottom: 7%;
    color: deeppink;
    font-size: 2vmin;
    font-family: Helvetica;
    text-decoration: none;
}


